@model IEnumerable<Ingrith.CoisaBoa.WebApp.Domain.Item>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}

<h1 style="text-align:center;">Cardápio</h1>
<hr / style="background-color:orange">

<img src="~/imagens/Coisa boa -logo.jpg" title="Logo feita em WebApp Canva" alt="Logo Coisa Boa Restaurante" width=120 height=120 class="img-fluid" align="right">
<h5 style="text-align:right">Bem-Vindo(a), @ViewData["Cliente"]!</h5>
<h6> @ViewData["Quantidade"]</h6>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayName("Ilustração")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <img src="~/imagens/@item.CaminhoImagem" width=70 height=70>
            </td>
            <td>
                 
                <a asp-action="AdicionarQt" asp-route-id="@item.Id">Adicionar ao Carrinho</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
